Repository kakaotechbootcamp-team13/chateat-backend, pull requests merged in 2024-08, with the labels that each got.

#1 [BE] 회원 기능 추가 및 로그인, 회원가입 JWT 적용
  .gitignore
  build.gradle
  src/main/java/com/chateat/chatEAT/ChatEatApplication.java
  src/main/java/com/chateat/chatEAT/api/MemberController.java
  src/main/java/com/chateat/chatEAT/auth/controller/AuthController.java
  src/main/java/com/chateat/chatEAT/auth/dto/AuthDto.java
  src/main/java/com/chateat/chatEAT/auth/dto/TokenDto.java
  src/main/java/com/chateat/chatEAT/auth/filter/JwtAuthenticationFilter.java
  src/main/java/com/chateat/chatEAT/auth/filter/JwtVerificationFilter.java
  src/main/java/com/chateat/chatEAT/auth/handler/CustomAccessDeniedHandler.java
  src/main/java/com/chateat/chatEAT/auth/handler/CustomAuthenticationEntryPoint.java
  src/main/java/com/chateat/chatEAT/auth/handler/LoginFailureHandler.java
  src/main/java/com/chateat/chatEAT/auth/handler/LoginSuccessHandler.java
  src/main/java/com/chateat/chatEAT/auth/jwt/JwtTokenProvider.java
  src/main/java/com/chateat/chatEAT/auth/service/AuthService.java
  src/main/java/com/chateat/chatEAT/auth/userdetails/CustomUserDetails.java
  src/main/java/com/chateat/chatEAT/auth/userdetails/CustomUserDetailsService.java
  src/main/java/com/chateat/chatEAT/auth/utils/CustomAuthorityUtils.java
  src/main/java/com/chateat/chatEAT/auth/utils/Responder.java
  src/main/java/com/chateat/chatEAT/config/AES128Config.java
  src/main/java/com/chateat/chatEAT/config/PasswordEncoderConfig.java
  src/main/java/com/chateat/chatEAT/config/RedisConfig.java
  src/main/java/com/chateat/chatEAT/config/SecurityConfig.java
  src/main/java/com/chateat/chatEAT/config/SwaggerConfig.java
  src/main/java/com/chateat/chatEAT/domain/chat/Chat.java
  src/main/java/com/chateat/chatEAT/domain/member/Member.java
  src/main/java/com/chateat/chatEAT/domain/member/Role.java
  src/main/java/com/chateat/chatEAT/domain/member/repository/MemberRepository.java
  src/main/java/com/chateat/chatEAT/domain/member/request/MemberJoinRequest.java
  src/main/java/com/chateat/chatEAT/domain/member/request/MemberUpdateRequest.java
  src/main/java/com/chateat/chatEAT/domain/member/request/MemberWithdrawRequest.java
  src/main/java/com/chateat/chatEAT/domain/member/request/UpdatePasswordRequest.java
  src/main/java/com/chateat/chatEAT/domain/member/response/EmailCheckResponse.java
  src/main/java/com/chateat/chatEAT/domain/member/response/MemberJoinResponse.java
  src/main/java/com/chateat/chatEAT/domain/member/response/MemberUpdateResponse.java
  src/main/java/com/chateat/chatEAT/domain/member/response/MemberWithdrawResponse.java
  src/main/java/com/chateat/chatEAT/domain/member/response/MyInfoResponse.java
  src/main/java/com/chateat/chatEAT/domain/member/service/MemberService.java
  src/main/java/com/chateat/chatEAT/domain/member/service/MemberServiceImpl.java
  src/main/java/com/chateat/chatEAT/global/dto/SingleResponseDto.java
  src/main/java/com/chateat/chatEAT/global/exception/BaseException.java
  src/main/java/com/chateat/chatEAT/global/exception/BaseExceptionType.java
  src/main/java/com/chateat/chatEAT/global/exception/BusinessLogicException.java
  src/main/java/com/chateat/chatEAT/global/exception/ErrorResponse.java
  src/main/java/com/chateat/chatEAT/global/exception/ExceptionAdvice.java
  src/main/java/com/chateat/chatEAT/global/exception/ExceptionCode.java
  src/main/java/com/chateat/chatEAT/global/redis/RedisService.java
  src/main/java/com/chateat/chatEAT/oauth2/SocialType.java
  src/main/resources/application.properties
  src/main/resources/application.yaml
  src/test/java/com/chateat/chatEAT/api/MemberControllerIntegrationTest.java
  src/test/java/com/chateat/chatEAT/auth/PasswordEncoderTest.java
  src/test/resources/application.yaml
Labels: Docs, BE, API, Test

#2 [BE] OAuth2.0 카카오 로그인 구현 및 테스트 완료
  src/main/java/com/chateat/chatEAT/api/MemberController.java
  src/main/java/com/chateat/chatEAT/auth/filter/JwtAuthenticationFilter.java
  src/main/java/com/chateat/chatEAT/auth/filter/JwtVerificationFilter.java
  src/main/java/com/chateat/chatEAT/auth/handler/CustomAuthenticationEntryPoint.java
  src/main/java/com/chateat/chatEAT/auth/handler/LoginFailureHandler.java
  src/main/java/com/chateat/chatEAT/auth/handler/LoginSuccessHandler.java
  src/main/java/com/chateat/chatEAT/auth/jwt/JwtTokenProvider.java
  src/main/java/com/chateat/chatEAT/auth/principaldetails/PrincipalDetails.java
  src/main/java/com/chateat/chatEAT/auth/principaldetails/PrincipalDetailsService.java
  src/main/java/com/chateat/chatEAT/auth/service/AuthService.java
  src/main/java/com/chateat/chatEAT/auth/utils/Responder.java
  src/main/java/com/chateat/chatEAT/config/SecurityConfig.java
  src/main/java/com/chateat/chatEAT/domain/member/Member.java
  src/main/java/com/chateat/chatEAT/domain/member/repository/MemberRepository.java
  src/main/java/com/chateat/chatEAT/domain/member/request/MemberBlockRequest.java
  src/main/java/com/chateat/chatEAT/domain/member/request/OAuth2JoinRequest.java
  src/main/java/com/chateat/chatEAT/domain/member/response/OAuth2JoinResponse.java
  src/main/java/com/chateat/chatEAT/domain/member/service/MemberService.java
  src/main/java/com/chateat/chatEAT/domain/member/service/MemberServiceImpl.java
  src/main/java/com/chateat/chatEAT/global/exception/BaseException.java
  src/main/java/com/chateat/chatEAT/global/exception/BaseExceptionType.java
  src/main/java/com/chateat/chatEAT/global/exception/ExceptionCode.java
  src/main/java/com/chateat/chatEAT/oauth2/CustomOAuth2MemberService.java
  src/main/java/com/chateat/chatEAT/oauth2/OAuth2Attributes.java
  src/main/java/com/chateat/chatEAT/oauth2/handler/OAuth2LoginFailureHandler.java
  src/main/java/com/chateat/chatEAT/oauth2/handler/OAuth2LoginSuccessHandler.java
  src/main/java/com/chateat/chatEAT/oauth2/userinfo/KakaoOAuth2MemberInfo.java
  src/main/java/com/chateat/chatEAT/oauth2/userinfo/OAuth2MemberInfo.java
  src/main/resources/application.yaml
Labels: BE, API

#3 [BE] Dockerfile 및 CI/CD 파이프라인 설정
  .github/workflows/ci-cd.yml
  Dockerfile
Labels: BE, Deploy

#6 [BE] Admin권한 추가 및 코드 개선
  src/main/java/com/chateat/chatEAT/api/AdminController.java
  src/main/java/com/chateat/chatEAT/api/ChatController.java
  src/main/java/com/chateat/chatEAT/api/MemberController.java
  src/main/java/com/chateat/chatEAT/auth/controller/AuthController.java
  src/main/java/com/chateat/chatEAT/auth/principaldetails/PrincipalDetails.java
  src/main/java/com/chateat/chatEAT/config/SecurityConfig.java
  src/main/java/com/chateat/chatEAT/domain/member/response/MyInfoResponse.java
  src/main/java/com/chateat/chatEAT/domain/member/service/MemberService.java
  src/main/java/com/chateat/chatEAT/domain/member/service/MemberServiceImpl.java
Labels: BE, Enhancement, Refactoring, API

#8 [BE] 멤버 계정 잠금 기능 추가
  src/main/java/com/chateat/chatEAT/api/AdminController.java
  src/main/java/com/chateat/chatEAT/api/MemberController.java
  src/main/java/com/chateat/chatEAT/auth/filter/JwtAuthenticationFilter.java
  src/main/java/com/chateat/chatEAT/auth/handler/LoginFailureHandler.java
  src/main/java/com/chateat/chatEAT/auth/principaldetails/PrincipalDetailsService.java
  src/main/java/com/chateat/chatEAT/auth/utils/Responder.java
  src/main/java/com/chateat/chatEAT/config/SecurityConfig.java
  src/main/java/com/chateat/chatEAT/domain/member/Member.java
  src/main/java/com/chateat/chatEAT/domain/member/exception/MemberBlockedException.java
  src/main/java/com/chateat/chatEAT/domain/member/request/MemberBlockRequest.java
  src/main/java/com/chateat/chatEAT/domain/member/response/MemberListPageResponse.java
  src/main/java/com/chateat/chatEAT/domain/member/service/MemberService.java
  src/main/java/com/chateat/chatEAT/domain/member/service/MemberServiceImpl.java
  src/main/java/com/chateat/chatEAT/global/exception/ErrorResponse.java
  src/main/java/com/chateat/chatEAT/global/exception/ExceptionCode.java
  src/main/java/com/chateat/chatEAT/oauth2/CustomOAuth2MemberService.java
Labels: BE, Enhancement, Refactoring, API
